.elementor-161121 .elementor-element.elementor-element-1a46af8 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-161121 .elementor-element.elementor-element-498a9ff.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-161121 .elementor-element.elementor-element-498a9ff.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-161121 .elementor-element.elementor-element-498a9ff.elementor-column>.elementor-widget-wrap {
	justify-content: center;
}

.elementor-161121 .elementor-element.elementor-element-498a9ff>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-161121 .elementor-element.elementor-element-8d74eda .elementor-heading-title {
	color: #483F96;
	font-family: "DM Serif Display", Sans-serif;
	font-size: 45px;
	font-weight: 500;
	text-transform: none;
}

.elementor-161121 .elementor-element.elementor-element-04eb7cd {
	color: #F07B3E;
	font-family: "Nunito", Sans-serif;
	font-size: 22px;
	font-weight: 300;
	line-height: 1.3em;
}

.elementor-161121 .elementor-element.elementor-element-9339cce .elementor-heading-title {
	color: #B04FBC;
	font-family: "Nunito", Sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-transform: none;
}

.elementor-161121 .elementor-element.elementor-element-9339cce>.elementor-widget-container {
	margin: 0px 0px -1px 0px;
}

.elementor-161121 .elementor-element.elementor-element-48b4be2 {
	margin-top: 0px;
	margin-bottom: 30px;
	padding: 0px 0px 0px 0px;
}

.elementor-161121 .elementor-element.elementor-element-f93e66d>.elementor-element-populated {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-161121 .elementor-element.elementor-element-fa586a9 .elementor-button {
	font-family: "Red Hat Display", Sans-serif;
	font-weight: 600;
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #483F96;
	border-radius: 27px 27px 27px 27px;
	padding: 15px 40px 15px 40px;
}

.elementor-161121 .elementor-element.elementor-element-523f9ea>.elementor-element-populated {
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
}

.elementor-161121 .elementor-element.elementor-element-fe726ea .elementor-button {
	font-family: "Red Hat Display", Sans-serif;
	font-weight: 600;
	fill: #FFFFFF;
	color: #FFFFFF;
	background-color: #B04FBC;
	border-radius: 25px 25px 25px 25px;
	padding: 15px 045px 15px 045px;
}

.elementor-161121 .elementor-element.elementor-element-3dcfb13:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-161121 .elementor-element.elementor-element-3dcfb13>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFFFFF00;
}

.elementor-161121 .elementor-element.elementor-element-3dcfb13>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 0px 0px 17px;
	padding: 0px 0px 0px 0px;
}

.elementor-161121 .elementor-element.elementor-element-3dcfb13>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-161121 .elementor-element.elementor-element-a19d318 .elementor-button {
	font-family: "Red Hat Display", Sans-serif;
	font-weight: 600;
	fill: var(--e-global-color-text);
	color: var(--e-global-color-text);
	background-color: #B050BC00;
	border-radius: 25px 25px 25px 25px;
	padding: 15px 50px 15px 51px;
}

.elementor-161121 .elementor-element.elementor-element-a19d318>.elementor-widget-container {
	margin: 0px 0px 0px -20px;
}

.elementor-161121 .elementor-element.elementor-element-7393f904 {
	color: #483F96;
	font-family: "Nunito", Sans-serif;
	font-size: 11px;
	font-weight: 400;
	line-height: 1.5em;
}

.elementor-bc-flex-widget .elementor-161121 .elementor-element.elementor-element-6456cc6.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-161121 .elementor-element.elementor-element-6456cc6.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-161121 .elementor-element.elementor-element-90df0a7 img {
	width: 100%;
}

.elementor-161121 .elementor-element.elementor-element-90df0a7>.elementor-widget-container {
	margin: 0px 0px 0px 25px;
}

body.elementor-page-161121:not(.elementor-motion-effects-element-type-background),
body.elementor-page-161121>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-secondary);
}

@media(min-width:768px) {
	.elementor-161121 .elementor-element.elementor-element-498a9ff {
		width: 49.556%;
	}

	.elementor-161121 .elementor-element.elementor-element-f93e66d {
		width: 26.777%;
	}

	.elementor-161121 .elementor-element.elementor-element-523f9ea {
		width: 26.883%;
	}

	.elementor-161121 .elementor-element.elementor-element-3dcfb13 {
		width: 46%;
	}

	.elementor-161121 .elementor-element.elementor-element-6456cc6 {
		width: 50.444%;
	}
}

@media(max-width:767px) {
	.elementor-161121 .elementor-element.elementor-element-0c3482a>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-161121 .elementor-element.elementor-element-9f54e70 img {
		width: 70%;
	}

	.elementor-161121 .elementor-element.elementor-element-9f54e70>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 10px 10px 10px 10px;
	}

	.elementor-161121 .elementor-element.elementor-element-1a46af8 {
		padding: 0px 0px 0px 0px;
	}

	.elementor-161121 .elementor-element.elementor-element-8d74eda {
		text-align: center;
	}

	.elementor-161121 .elementor-element.elementor-element-8d74eda .elementor-heading-title {
		font-size: 27px;
	}

	.elementor-161121 .elementor-element.elementor-element-8d74eda>.elementor-widget-container {
		margin: 0px 0px -10px 0px;
		padding: 0px 10px 0px 10px;
	}

	.elementor-161121 .elementor-element.elementor-element-04eb7cd {
		text-align: center;
		font-size: 15px;
	}

	.elementor-161121 .elementor-element.elementor-element-04eb7cd>.elementor-widget-container {
		margin: 0px 9px -15px 9px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-161121 .elementor-element.elementor-element-9339cce {
		text-align: center;
	}

	.elementor-161121 .elementor-element.elementor-element-9339cce .elementor-heading-title {
		font-size: 16px;
	}

	.elementor-161121 .elementor-element.elementor-element-9339cce>.elementor-widget-container {
		margin: 0px 0px -10px 0px;
	}

	.elementor-161121 .elementor-element.elementor-element-48b4be2 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-161121 .elementor-element.elementor-element-f93e66d {
		width: 50%;
	}

	.elementor-161121 .elementor-element.elementor-element-f93e66d>.elementor-element-populated {
		padding: 0px 8px 0px 0px;
	}

	.elementor-161121 .elementor-element.elementor-element-fa586a9 .elementor-button {
		font-size: 17px;
		padding: 13px 57px 13px 55px;
	}

	.elementor-161121 .elementor-element.elementor-element-fa586a9>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-161121 .elementor-element.elementor-element-523f9ea {
		width: 50%;
	}

	.elementor-161121 .elementor-element.elementor-element-523f9ea>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 8px;
	}

	.elementor-161121 .elementor-element.elementor-element-fe726ea .elementor-button {
		font-size: 17px;
		padding: 13px 49px 13px 49px;
	}

	.elementor-161121 .elementor-element.elementor-element-3dcfb13 {
		width: 100%;
	}

	.elementor-161121 .elementor-element.elementor-element-a19d318 .elementor-button {
		font-size: 17px;
		padding: 13px 49px 13px 49px;
	}

	.elementor-161121 .elementor-element.elementor-element-a19d318>.elementor-widget-container {
		margin: 10px 0px 0px -15px;
	}

	.elementor-161121 .elementor-element.elementor-element-7393f904 {
		text-align: center;
	}

	.elementor-161121 .elementor-element.elementor-element-7393f904>.elementor-widget-container {
		margin: 10px 0px 0px 0px;
	}
}

/* Start custom CSS */
.mk-box .elementor-image-box-wrapper {
	display: flex;
}

@media (max-width:767px) {
	.mk-section {
		margin: 0 20px;
	}
}

/* End custom CSS */